body {
    color: white;
}

h1 {
    color: rgb(255, 255, 255);

}

.countdowntimer {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}
.countdowntimer p {
    font-size: 2rem;
}